<!DOCTYPE html>
<html>
   <head>
      <style type="text/css">
       table{border: 1mm solid;}
       th{border: 1mm solid;}
       td{border: 1mm solid;}
       h1 {  
        margin: 20px;          
        background-color: black;
        padding: 10px; 
        color:white;
        text-align: center;
        font-size:4em;
        }
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>       
   </head>
   <body ng-app="myApp" ng-controller="MainController" ng-init="searchTerms='Collective Soul'">
      <h1>BUSCADOR DE MUSICA</h1>
      <div class="searchBox" style="text-align: center">
        <input ng-model="searchTerms" />
        <button ng-click="search()">Search</button>
      </div>
      
      <div id="results">
         <ul>
         <table>
         <thead>
         	<tr>
             <th>ALBUM</th>
             <th>TITULO DE LA CANCION</th>
            </tr>
         </thead>
         <tbody ng-repeat="res in results" >
           <tr>
			<td>
			<button ng-click="play( res.previewUrl )"><img src="{{res.artworkUrl60}}" style="border: 2mm solid;"><br>PLAY</button>
			</td>
			<td  style="text-align: center">
			 <p>{{ res.trackName }} </p> 
			</td>
		   <tr>
		</tbody>
		</table>
      </div>

      <audio id="sample" autoplay />

      <script>
        var ITUNES_SEARCH_URL = 'https://itunes.apple.com/search?term=<<SEARCH_TERMS>>&media=music&entity=musicTrack&callback=JSON_CALLBACK';

        var app = angular.module("myApp", []);

        app.controller('MainController', ['$scope', '$http', function($scope, $http){
        	$scope.currentSearch = '';

        	$scope.search = function() {
        		$scope.currentSearch = $scope.searchTerms;

        		var xhr = $http.jsonp(ITUNES_SEARCH_URL.replace("<<SEARCH_TERMS>>", $scope.searchTerms));
        		xhr.success( function(response) {
        		   $scope.results = response.results; 
        		} );
        	};

        	$scope.play = function(url) {
        		var audio = document.getElementById('sample');
        		audio.setAttribute("src", url);
        	};
        }]);
      </script>
   </body>
</html>